@page "/information"
@model Chirp.Web.Pages.InformationPageView
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>

    <h2> @Model.AuthorName Information </h2>
    

    <h3>Name: @Model.AuthorName</h3>
    
   
</div>