@page "/"
@model Chirp.Web.Pages.PublicView
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> Public Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author">@cheep.Author</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.CreatedDate</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    
    <div class="pagination"> 

        @if (Model.CurrentPage > 1)
        {
            <a href="/?page=@(Model.CurrentPage - 1)">Previous</a>
        }
        
        @if (Model.Cheeps.Count() == 32)
        { 
            <a href="/?page=@(Model.CurrentPage + 1)">Next</a>
        }
    </div>
</div>
