name: Build and deploy ASP.Net Core app to Azure Web App - bdsagroup21chirprazor

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build src/Chirp.Web/Chirp.Web.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish src/Chirp.Web/Chirp.Web.csproj --configuration Release --output ./publish

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: publish-artifact
          path: ./publish

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: publish-artifact
          path: ./publish

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_60606DCFA78B495896C259B417204FA1 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_FBB50B1433184273A5F1282BA555CC1A }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_B96560B074224FB4BCFA8E206DC421E4 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bdsagroup21chirprazor'
          slot-name: 'Production'
          package: ./publish



